$dark: #483C32;
$light: #fbf3d4;

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgba(42, 42, 46, 1);
    color:white;
}

h1 {
    display: flex;
    width: 100%;
    height: 100px;
    color: white;
    span {
        font-family: 'Limelight', cursive;
        margin-right: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    font-weight: 700;
    font-size: 100px;
}

.main-content {
    display: flex;

}

.right-container {
    //margin-top: 100px;
    margin-left: 50px;
}

#canvas {
    position: absolute;
    background-color:rgba(42, 42, 46, 1);
}

#board {
    border-radius: 30px;
    border: 5px solid black;
}


.select-button {
    margin-bottom: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-weight: 700;
    opacity: 70%;
    //margin-right: auto;
    //margin-left: 50%;
    //transform: translateX(-50%);
}

#pool-heading {
    width:200px;
    display: flex;
    justify-content: center;
}
#piece-pool-container {
    //position: relative;
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-container {
    //position: fixed;
    //left: 0;
    //top: 100px;
}

.message-container {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: white;
    opacity: 70%;
    border: 5px solid black;
    border-radius: 30px;
    color:black;
    font-size: 40px;
    //margin-right: 0px;
    //margin-left: 50%;
    //transform: translateX(-50%);
    align-items: center;
    justify-content: center;;
    p {
        //width: 100%;
        //margin-left: 50%;
        //transform: translateX(-50%);
    }
}
#piece-pool {
    box-sizing: border-box;
    height: 700px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
}

.piece-pool-item {
    position: relative;
    width: 75px;
    height: 75px;
    margin: 5px;
    z-index: 5;
    &.selected {
        background-color: gray;
        opacity: 70%;
        border-radius: 15px;
    }
    border: 5px solid black;
    border-radius: 15px;
    
}

#pieces-to-play {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

#pieces-to-play-container {
    display: flex;
    justify-content: center;
    .piece-to-play-container {
        margin: 10px;
        h2 {
            margin-right: auto;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        canvas {
            margin-top: 5px;
            border: 2px solid black;
            border-radius: 15px;
        }
    }
}

#game {
    //margin-left: 150px;
}

#instructions {
    li {
        
        li {
            list-style: disc;
            margin-left: 15px;
            margin-top: 5px;
        }
    }
}