#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}

#modal-form {
    color: black;
    width: 50%;
    height: 50%;
    z-index: 13;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}